/* ==========================================================================
   Font imports
   ========================================================================== */
@import "../fonts/helveticaneue/index.css";
@import "../fonts/avenirnextpro/index.css";
@import "../fonts/bevan/index.css";

/* ==========================================================================
   Generic
   ========================================================================== */

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;

    -webkit-transition: .4s ease;
    -webkit-transition-property: color, border-color, visibility, background-color, box-shadow,
    -webkit-transform;

    transition: .4s ease;
    transition-property: color, border-color, visibility, background-color, box-shadow,
    transform;
}

html {
    font-family: "Helvetica Neue";
    font-size: 18px;
    font-weight: 300;
    height: 100%;
}

body {
    font-size: 0;
    height: 100%;
    min-width: 1000px;
    color: #4682b4;
}

body.home-style {
    color: #fff;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

input,
textarea {
    display: block;
    text-align: center;
    background: #f6f8fa;
    border: 1px solid #efefef;
    font: inherit;
    font-size: 1rem;
    font-weight: 300;
    width: 100%;
    padding: 12px 14px;
    margin: 8px 0;
    outline: none;
    text-align: left;
}

textarea {
    resize: none;
}

input:focus,
textarea:focus {
    border-color: #ccc;
}

section {
    min-height: 100%;
    display: flex;
    align-items: center;
    padding: 100px 0;
}

/* ==========================================================================
   Custom Animations
   ========================================================================== */

@-webkit-keyframes fade-in {
    from {
        opacity: 0;
    }
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
}

/* ==========================================================================
   Classes
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

.xs {
    font-size: .8rem;
}

.content {
    width: 90%;
    max-width: 900px;
    margin: 0 auto;
}

.align-middle {
    vertical-align: middle;
    display: inline-block;
    float: none;
    margin: -2px;
}

.bold {
    font-weight: 500;
}

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

.hint {
    position: relative;
}

.hint:before,
.hint:after {
    visibility: hidden;
    opacity: 0;

    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);

    -webkit-transition: .2s ease;
    transition: .2s ease;
}

.hint:before {
    position: absolute;
    top: 100%;
    left: 20px;
    font-size: .7rem;
    color: #fff;
    background: #b12424;
    padding: 6px 12px;
    display: block;
    border-radius: 4px;

    content: attr(data-hint);
}

.hint:after {
    content: "";
    position: absolute;
    top: 100%;
    left: 30px;
    margin-top: -16px;
    border: 8px solid transparent;
    border-bottom-color: #b12424;
}

.hint.hint--visible:before,
.hint.hint--visible:after {
    visibility: visible;
    opacity: 1;

    -webkit-transform: none;
    transform: none;
}

/* ==========================================================================
   Boostrap custom styles
   ========================================================================== */

.modal {
    font-size: 1rem;
}

.modal-backdrop {
    background: #1b2125;
}

.modal-backdrop.in {
    opacity: .8;
}

.modal-dialog {
    margin: 100px auto;
    position: relative;
}

.modal-dialog-large {
    width: 800px;
}

.modal-header {
    padding: 35px 40px;
    height: 96px;
}

.modal-header-hint {
    float: right;
    font-size: 23px;
    display: inline-block;

    line-height: 28px;
    width: 30px;

    color: #ddd;
    text-align: center;

    cursor: pointer;
}

.modal-header-hint:hover {
    color: #222;
}

.modal-body {
    padding: 40px 32px;
    overflow: auto;
}

.modal-footer {
    padding: 20px 40px;
}

.modal-content {
    border-radius: 0;
    border: none;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
}

.modal-content--help {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    -webkit-animation: fade-in .2s ease;
    animation: fade-in .2s ease;
}

.row {
    margin-left: 0;
    margin-right: 0;
    padding: 2px;
}

.btn {
    background: #13537e;
    border-radius: 0;
    text-shadow: none;
    color: #fff;
    border: none;
    box-shadow: none;
    padding: 9px 10px;
    text-align: center;

    font-size: .9rem;
    font-weight: 300;

    height: 43px;
    line-height: 28px;
    min-width: 120px;
}

.btn:active, .btn:focus {
    background-color: #000 !important;
    box-shadow: none;
    color: #fff !important;
}

/* ==========================================================================
   Header
   ========================================================================== */

#header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background: #fff;
    border-bottom: 1px solid #eee;
}

body.home-style #header {
    background: transparent;
    border-bottom: none;
}

#header a {
    text-decoration: none;
}

#header-left,
#header-right {
    display: inline-block;
    width: 50%;
    padding: 30px 0;
}

#logo {
    font-family: Bevan, sans-serif;
    font-size: 37px;
    color: #4682b4;
    margin-left: -2px;
}

#logo:hover {
    color: #004370;
}

/*-- css styles to color header and footer with steelBlue (brand-blue = steelBlue) for white pages */

body.home-style #logo {
    color: #fff;
}

#header-right {
    text-align: right;
    font-weight: 300;
}

#header-links > a {
    font-size: 1rem;
    display: inline-block;
    margin-left: 47px;
    color: #4682b4;
}

#header-links > a:hover {
    color: #004370;
}

body.home-style #header-links > a:hover {
    color: #fff;
}

/* ==========================================================================
   Footer
   ========================================================================== */

#footer {
    margin-top: -99px;
    padding: 30px 0;
    position: relative;
    z-index: 2;
    border-top: 1px solid #eee;
}

body.home-style #footer {
    border-top: none;
}

#footer-links,
#footer-social {
    display: inline-block;
    width: 50%;
}

#footer-links > a {
    font-size: .6rem;
    color: #4682b4;
    text-decoration: none;
    margin: 17px;
    font-weight: 400;
}

#footer-links > a:hover {
    color: #004370;
}

body.home-style #footer-links > a:hover {
    color: #fff;
}

#footer-social {
    text-align: right;
}

#footer-social > a > i {
    font-size: 17px;
    color: #4682b4;
    display: inline-block;
    line-height: 36px;
    width: 38px;
    text-align: center;
    border-radius: 50%;
    border: 1px solid #4682b4;
    margin-left: 60px;
}

#footer-social > a:hover > i {
    border-color: #004370;
    color: #004370;
}

body.home-style #footer-social > a:hover > i {
    border-color: #fff;
    color: #fff;
}

/* ==========================================================================
   Home Page
   ========================================================================== */

#home {
    position: relative;
}

.home-background {
    background-color: #263d4e;
    background-image: url("../img/home-background-2.jpg");
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
}

.call-to-action > div {
    display: inline-block;
    color: #fff;
    width: 33.33%;

}

.cloud-upload {
    text-align: left;
    cursor: pointer;
}

.cloud-upload-src {
    position: relative;
}

.cloud-upload-src > span {
    position: absolute;
    display: inline-block;
    font-size: .8rem;
    top: 60px;
    left: 72px;

    white-space: nowrap;
    overflow: hidden;
}

.cloud-arrow {
    text-align: right;
}

.cloud-arrow > img {
    margin-top: -25px;
}

.cloud-carousel {
    text-align: right;
}

.cloud-carousel-inner {
    position: relative;
    display: inline-block;
}

.cloud-carousel-dest {
    font-size: 1rem;
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    top: 50%;
    line-height: 30px;
    margin-top: -15px;

    white-space: nowrap;
    overflow: hidden;
}

.cloud-carousel-dest > span {
    width: 100%;
    display: inline-block;
    vertical-align: middle;
}

.cloud-carousel-dest > span > small {
    display: block;
    font-size: .7rem;
    line-height: normal;
}

.cloud-carousel-btns {
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    bottom: 15px;
}

.cloud-carousel-btns > span {
    display: inline-block;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.5);
    margin: 0 5px;

    width: 10px;
    height: 10px;

    -webkit-transition: background-color 1.2s ease;
    transition: background-color 1.2s ease;

    cursor: pointer;
}

.cloud-carousel-btns > span.is-active {
    background-color: rgba(255, 255, 255, 1);
}

/* ==========================================================================
   About Page
   ========================================================================== */

#about {
    font-size: 1.2rem;
}

/* ==========================================================================
   FAQ Page
   ========================================================================== */

#faq {
    font-size: 1.1rem;
    line-height: 1.8;
    margin-top: 100px;
}

.faq-question:before,
.faq-answer:before {
    font-family: Bevan, sans-serif;
    font-size: 32px;
    position: absolute;
    top: -19px;
    left: 4px;
}

.faq-question:before {
    content: "Q. ";
}

.faq-answer:before {
    content: "A. ";
}

.faq-question, .faq-answer {
    padding-left: 54px;
    position: relative;
}

.faq-answer {
    margin-bottom: 100px;
}

/* ==========================================================================
   Contact Page
   ========================================================================== */

#contact {
}

#contact-form {
    position: relative;
    display: block;
}

#contact-form input,
#contact-form textarea,
#contact-form button {
    font: inherit;
    font-size: 1.8rem;
    color: #000;
    margin: 8px 0;
    padding: 0 28px;
    background: #fff;
    border: 1px solid #ccc;
    outline: none;
    text-align: left;

    /* wonky font line-height hack */
    height: 70px;
    padding-top: 5px;
}

#contact-form textarea {
    padding-top: 15px;
}

#contact-form input:hover,
#contact-form textarea:hover {
    border-color: #4682b4;
}

#contact-form input:focus,
#contact-form textarea:focus {
    border-color: #004370;
}

#contact-form input {
    width: 49%;
    display: inline-block;
}

/* spacing for first input */
#contact-form input:first-child {
    margin-right: 2%;
}

#contact-form textarea {
    width: 100%;
    height: 300px;
    /*resize: both;*/
}

#contact-form button {
    width: 100%;
    background: #4682b4;
    border: none;
    color: #fff;
    text-align: center;
}

#contact-form button:hover {
    background-color: #004370;
}

#contact-form-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #fff;

    -webkit-transition: .5s ease;
    transition: .5s ease;

    opacity: 0;
    visibility: hidden;
}

#contact-form.has-success > #contact-form-overlay {
    opacity: 1;
    visibility: visible;
}

#contact-form.has-success {
    -webkit-pointer-events: none;
    pointer-events: none;
}

#contact-form-overlay > span {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    text-align: center;
    font-size: 2rem;
    font-weight: 200;

    margin-top: -85px;
}

@-webkit-keyframes contact-form-overlay-icon {
    0% {
        -webkit-transform: scale(0.8);
        opacity: 0;
    }
    60% {
        -webkit-transform: scale(1.2);
    }
    100% {
        -webkit-transform: scale(1);
    }
}

@keyframes contact-form-overlay-icon {
    0% {
        transform: scale(0.8);
        opacity: 0;
    }
    60% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}

#contact-form-overlay > span > i {
    color: #004370;
    font-size: 60px;
    display: block;
    line-height: 100px;
    width: 100px;
    border-radius: 50%;
    background: #eee;
    margin: 10px auto;
}

#contact-form.has-success > #contact-form-overlay > span > i {
    -webkit-animation: contact-form-overlay-icon .5s ease;
    animation: contact-form-overlay-icon .5s ease;
}

/* ==========================================================================
   Upload Modals
   ========================================================================== */

#upl-modals {
    display: inline;
}

#upl-modals .btn {
    width: 100%;
}

#upl-modals .modal-body {
    /*height: 300px;*/
    /*overflow: auto;*/
}

#upl-modal4-header {
    position: relative;
}

#upl-modal4-progress {
    position: absolute;
    bottom: -1px;
    left: 0;
    right: 0;
    height: 1px;
}

#upl-modal4-progress-bar {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    background: #004370;
    width: 0%;

    opacity: 0;
    visibility: hidden;

    -webkit-transition: visibility 1s ease 1s, opacity 1s ease 1s, width 2s ease;
    transition: visibility 1s ease 1s, opacity 1s ease 1s, width 2s ease;
}

#upl-modal4-progress-bar.is-visible {
    opacity: 1;
    visibility: visible;

    -webkit-transition: visibility 1s ease, opacity 1s ease, width 2s ease;
    transition: visibility 1s ease, opacity 1s ease, width 2s ease;
}

#upl-modal5-icons {
    text-align: center;
}

#upl-modal5-icons > a > i {
    display: inline-block;
    line-height: 50px;
    width: 50px;
    font-size: 20px;
    margin: 8px;
    text-align: center;
    color: #fff;
    background: #222;
    border-radius: 50%;
}

#upl-modal5-icons > a:hover > i {
    background-color: #ddd;
    color: #222;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 1.25dppx),
(min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after,
    *:first-letter,
    *:first-line {
        background: transparent !important;
        color: #000 !important;
        /* Black prints faster:
                                          http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */
    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
