/* ==========================================================================
   Font imports
   ========================================================================== */
@import "../fonts/helveticaneue/index.css";
@import "../fonts/avenirnextpro/index.css";
@import "../fonts/bevan/index.css";
/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */
@import url("/fonts/helveticaneue/index.css");
@import "/fonts/avenirnextpro/index.css";
@import url("/fonts/bevan/index.css");

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    font-family: "Helvetica Neue";
    font-size: 18px;
    font-weight: 300;
    height: 100%;
}

body {
    font-size: 0;
    height: 100%;
}

section {
    min-height: 100%;
    display: flex;
    align-items: center;
    padding: 200px 0;
}

.content {
    width: 90%;
    max-width: 900px;
    margin: 0 auto;
}

/* ==========================================================================
   Header
   ========================================================================== */


#header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10000;

    color: #ffffff;

    -webkit-transition: color 1s ease, text-shadow 1s ease, background-color 1s ease;
    transition: color 1s ease, text-shadow 1s ease, background-color 1s ease;

    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

#header.header--blue {
    color: #004370;
    text-shadow: none;
    background: rgba(255, 255, 255, 0.5);
}

#header a {
    text-decoration: none;
    color: inherit;
}

#header-left,
#header-right {
    display: inline-block;
    width: 50%;
    padding: 30px 0;
}

#logo {
    font-family: Bevan;
    font-size: 37px;
}

#header-right {
    text-align: right;
    font-weight: 300;
}

#header-links > a {
    font-size: 1rem;
    display: inline-block;
    margin-left: 47px;
}

/* ==========================================================================
   Home Section
   ========================================================================== */


#home,
#footer-home {
    position: relative;
}

.home-background {
    background-image: url("../img/home-background.jpg");
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: -100px;
    z-index: -1;
}

.call-to-action > div {
    display: inline-block;
    color: #fff;
    width: 33.33%;

}

.cloud-upload {
    text-align: left;
}

.cloud-upload-src > span {
    position: relative;
    display: inline-block;
    font-size: .8rem;
    left: 100px;
    right: 0;
    text-align: center;
    top: 50%;
    line-height: 30px;
    margin-top: -15px;

    white-space: nowrap;
    overflow: hidden;
}

/*.cloud-upload > img {*/
/*width: 100%;*/

/*}*/

.cloud-arrow {
    text-align: right;
}

.cloud-arrow > img {
    margin-top: -73px;
}

.cloud-carousel {
    text-align: right;
}

.cloud-carousel-inner {
    position: relative;
    display: inline-block;
}

.cloud-carousel-dest {
    font-size: 1rem;
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    top: 50%;
    line-height: 30px;
    margin-top: -15px;

    white-space: nowrap;
    overflow: hidden;
}

.cloud-carousel-dest > span {
    width: 100%;
    display: inline-block;
    vertical-align: middle;
}

.cloud-carousel-dest > span > small {
    display: block;
    font-size: .7rem;
    line-height: normal;
}

.cloud-carousel-btns {
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    bottom: 15px;
}

.cloud-carousel-btns > span {
    display: inline-block;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.5);
    margin: 0 5px;

    width: 10px;
    height: 10px;

    -webkit-transition: background-color 1.2s ease;
    transition: background-color 1.2s ease;

    cursor: pointer;
}

.cloud-carousel-btns > span.is-active {
    background-color: rgba(255, 255, 255, 1);
}

/* ==========================================================================
   About Section
   ========================================================================== */


#about {
    font-size: 1.2rem;
    color: #004370;

}

/* ==========================================================================
   FAQ Section
   ========================================================================== */


#faq {
    font-size: 1.1rem;
    line-height: 1.8;
    color: #004370;
    margin-top: 100px;
}

.faq-question:before,
.faq-answer:before {
    font-family: Bevan;
    font-size: 37px;

    position: absolute;
    top: -25px;
    left: 0;
}

.faq-question:before {
    content: "Q. ";
}

.faq-answer:before {
    content: "A. ";
}

.faq-question, .faq-answer {
    padding-left: 55px;
    position: relative;
}

.faq-answer {
    margin-bottom: 100px;
}

/* ==========================================================================
   Contact Section
   ========================================================================== */


#contact {}

#contact-form {
    position: relative;
    display: block;
}

#contact-form input,
#contact-form textarea,
#contact-form button {
    font: inherit;
    font-size: 1.8rem;
    color: #000;
    margin: 8px 0;
    padding: 10px 28px;
    background: #fff;
    border: 1px solid #ccc;
    outline: none;
}

#contact-form input:focus,
#contact-form textarea:focus,
#contact-form button:focus {
    border-color: #004370;
}

#contact-form input {
    width: 49%;
    display: inline-block;
}

/* spacing for first input */
#contact-form input:first-child {margin-right: 2%;}

#contact-form textarea {
    width: 100%;
    height: 300px;
    resize: both;
}

#contact-form button {
    width: 100%;
    background: #004370;
    color: #fff;
}

#contact-form-overlay {
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    background: #fff;

    -webkit-transition: .5s ease;
    transition: .5s ease;

    opacity: 0;
    visibility: hidden;
}

#contact-form.has-success > #contact-form-overlay {
    opacity: 1;
    visibility: visible;
}

#contact-form.has-success {
    -webkit-pointer-events: none;
    pointer-events: none;
}

#contact-form-overlay > span {
    position: absolute;
    top: 50%; left: 0; right: 0;
    text-align: center;
    font-size: 2rem;
    font-weight: 200;

    margin-top: -85px;
}

@-webkit-keyframes contact-form-overlay-icon {
    0% {-webkit-transform: scale(0.8); opacity: 0;}
    60% {-webkit-transform: scale(1.2);}
    100% {-webkit-transform: scale(1);}
}


@keyframes contact-form-overlay-icon {
    0% {transform: scale(0.8); opacity: 0;}
    60% {transform: scale(1.2);}
    100% {transform: scale(1);}
}

#contact-form-overlay > span > i {
    color: #004370;
    font-size: 60px;
    display: block;
    line-height: 100px; width: 100px;
    border-radius: 50%;
    background: #eee;
    margin: 10px auto;
}

#contact-form.has-success > #contact-form-overlay > span > i {
    -webkit-animation: contact-form-overlay-icon .5s ease;
    animation: contact-form-overlay-icon .5s ease;
}


/* ==========================================================================
   Footer
   ========================================================================== */

#footer-home {

}

#footer {
    margin-top: -80px;
}


#footer-links,
#footer-social {
    display: inline-block;
    width: 50%;
}

#footer-links > a {
    font-size: .6rem;
    color: white;
    text-decoration: none;
    margin: 10px;
    font-weight: 400;

}

#footer-social {
    text-align: right;

}

#footer-social > a > i {
    font-size: 20px;
    color: white;
    display: inline-block;
    line-height: 28px;
    width: 30px;
    text-align: right;
    border-radius: 50%;
    border: 1px solid #fff;
    margin: 20px;

}






/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 1.25dppx),
(min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after,
    *:first-letter,
    *:first-line {
        background: transparent !important;
        color: #000 !important;
        /* Black prints faster:
                                          http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */
    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
